*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 1.2rem;
}

/* choose colours */
/* choose font */
/* make tool-tips */

body {
  background-color: silver;
}

header {
  background-color: white;
}

h1 {
  background-color: hsl(194deg 100% 22%);
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px hsl(0deg 0% 100% / 80%) ;
  padding-left: 20px;
}

h2,
.default-projects li {
  font-size: 1.5rem;
}

.side-bar {
  background: lightslategrey;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 30px;
  width: 300px;
  min-width: 200px;
  min-height: 100vh;
  z-index: 5;
}

.side-bar > div {
  width: 100%;
}

.side-bar li {
  border-radius: 5px;
}

.side-bar li,
.side-bar h2 {
  padding: 0 10px;
  margin: 10px 0;
}

li {
  list-style: none; 
}

.side-bar li {
  background-color: hsl(207deg 72% 89%);
  border: 1px solid hsl(207deg 72% 89%);
  transition: 300ms ease-out;
  user-select: none;
}
/* user-select:none for all li?? */

.side-bar li:hover {
  border-color: hsl(207deg 12% 86%);
  box-shadow: 0 0 10px hsl(207deg 12% 86%);
  cursor: pointer;
  outline: none;
}

.side-bar li.current {
  background-color: hsl(207deg 44% 93%);
  box-shadow: 0 0 4px hsl(207deg 12% 86%);
}

.user-projects-container {
  margin-top: 60px;
}

.title-and-btn-container {
  display: flex;
  align-items: center;
}

.tool-tip {
  display: none;
}

.tool-tip.active {
  display: block;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

.add-button {
  border: none;
  border-radius: 50%;
  /* color of background, just slightly darker */
  box-shadow: 0px 5px 10px 3px hsl(0deg 0% 0% / 40%);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 30px;
  min-width: 30px;
  margin-left: 10px;
}

.add-button::before,
.add-button::after {
  position: absolute;
  content: '';
  background-color: black;
  height: 15px;
  width: 2px;
}

.add-button::before {
  transform: rotate(90deg);
}

#hamburger {
  display:none
}

label.hamburger { 
  border-radius: 4px; 
  cursor: pointer; 
  display: block;
  height: 35px; 
  width: 30px; 
  position: relative; 
}

.line {
  background: black; 
  border-radius: 2px;
  display: block; 
  position: absolute; 
  height: 3px; 
  width: 30px; 
  transition: 0.5s; 
  transform-origin: center; 
}

.line:nth-child(1) { 
  top: 8px; 
}
.line:nth-child(2) { 
  top: 16px; 
}
.line:nth-child(3) { 
  top: 24px; 
}

#hamburger:checked + .hamburger .line:nth-child(1){
  transform: translateY(8px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2){
  opacity:0;
}

#hamburger:checked + .hamburger .line:nth-child(3){
  transform: translateY(-8px) rotate(45deg);
}

main {
  padding: 30px;
  margin-left: 310px;
}

.task-sort-container {
  display: flex;
  justify-content: space-between;
}

.sort-container {
  display: flex;
  position: relative;
}

.sort-container > span {
  color: grey;
}

.sort-button {
  border: 1px solid grey;
  cursor: pointer;
  max-width: 50px;
}

.sort-options-container {
  display: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  max-width: 250px;
  position: absolute;
  top: 100%;
  z-index: 15;
}

.sort-options-container.show {
  display: block;
}

.sort-options {
  cursor: pointer;
}

.sort-options > div:hover {
  background-color: aquamarine;
}

.sort-options-container > div:first-child {
  border-bottom: 1px solid grey;
}

.task {
  display: flex;
  gap: 10px;
}

.task-details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.task-options {
  display: flex;
  gap: 10px;
}

.task-list,
.project-list {
  border-top: 1px solid black;
}

.new-project-form > input{
  width: 100%;
}

.modal {
  background-color: lightblue; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  width: 600px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.closed {
  display: none;
}

.overlay {
  background-color: hsl(0deg 0% 50% / 0.3);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.sort-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


