*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: hsl(194deg 100% 22%);
  font-size: 4rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px hsl(0deg 0% 100% / 80%) ;
}

.container {
  background-color: silver;
  display: flex;
}

nav {
  background: lightslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 300px;
  min-width: 200px;
  min-height: 100vh;
}

main {
  background-color: violet;
  padding: 30px;
  margin: 0 auto;
  width: 1000px;
}

.modal {
  background-color: lightblue; 
  width: 600px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}

.modal-guts {
  /* cover the modal */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;
}

.modal.closed {
  display: none;
}